@charset "UTF-8";
:root {
  --backgroundColorFirst: #e5e5e5;
  --backgroundColorSecond: #2f303a;
  --fontColorFirst: #212121;
  --fontColorSecond: #757575;
  --button: #000026;
  --colorBlue: #2196f3;
  --colorShadow: #ffffff99;
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorDarkWhite: #f5f4fa;
  --caption: #eeeeee;
  --headerBorderColor: #ececec;
  --colorGrey: #AFB1B8;
  --color-transparent: rgba(255, 255, 255, 0.6);
  --color-transparent-dark: rgba(255, 255, 255, 0.1);
  --color-transparent-what-we-do: rgba(47, 48, 58, 0.8);
  --color-transparent-modal1: rgba(0, 0, 0, 0.1);
  --color-transparent-modal2: rgba(0, 0, 0, 0.2);
  --background-gallery-blue: rgba(33, 150, 243, 0.9);
  --contact-link-separator: rgba(33, 33, 33, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

.body {
  color: var(--fontColorFirst);
  font-family: "Roboto", "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

header {
  border-bottom: 1px solid var(--headerBorderColor);
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  max-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 24px 15px;
    max-height: 86px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  display: block;
  fill: currentColor;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--colorBlue);
}
.logo__label {
  color: var(--fontColorFirst);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  text-decoration: none;
  color: var(--fontColorFirst);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--colorBlue);
  outline-color: var(--colorBlue);
}
.nav__link--current {
  color: var(--colorBlue);
  text-decoration: none;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--colorBlue);
  top: 46px;
  left: 0;
}

.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contact__link {
  color: var(--fontColorSecond);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__link:focus, .contact__link:hover {
  color: var(--colorBlue);
}
.contact__envelope {
  width: 16px;
  height: 12px;
}
.contact__telephone {
  width: 10px;
  height: 16px;
}

.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/team-working.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/team-working.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/team-working@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/team-working@2x.jpg");
  }
}
.banner__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 118px;
  padding-left: 57px;
  padding-right: 57px;
  height: 400px;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .banner__container {
    height: 600px;
    padding: 200px 58px;
  }
}
.banner__headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorWhite);
  max-width: 365px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .banner__headline {
    font-size: 44px;
    max-width: 696px;
  }
}

.button__order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--colorWhite);
  background: var(--colorBlue);
  cursor: pointer;
  padding-left: 42px;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.solution__list {
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: auto;
}

.solution__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .solution__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .solution__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.solution__wrapper {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--colorDarkWhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solution__icon {
  width: 70px;
  height: 70px;
}

.solution__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fontColorFirst);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .solution__heading {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.solution__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fontColorSecond);
}

.services__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .services__container {
    display: block;
  }
}
.services__headline {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.services__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

/*NAPIS CZYM SIĘ ZAJMUJEMY WHAT-WE-DO NAPIS*/
.services__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.services__caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  color: var(--colorWhite);
  background: var(--color-transparent-what-we-do);
}

.team {
  background-color: var(--colorDarkWhite);
}
.team img {
  display: block;
}
.team__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team__headline {
  padding-bottom: 30px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team__headline {
    font-size: 36px;
    margin: 0 auto 50px auto;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__item {
  max-width: 450px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: var(--colorWhite);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team__thumb {
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.team__photo {
  width: 100%;
  height: 100%;
}
.team__caption {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--fontColorFirst);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 0 10px 0;
}
.team__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--fontColorSecond);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--colorGrey);
  fill: var(--colorGrey);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--colorBlue);
  color: var(--colorWhite);
}
.team__icon {
  width: 20px;
  height: 20px;
}
.team__socials {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__headline {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px auto;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .clients__headline {
    font-size: 36px;
    margin: 0 auto 50px auto;
  }
}

.clients__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  width: 100%;
  height: 92px;
  border: 1px var(--colorGrey) solid;
  color: var(--colorGrey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  fill: var(--colorGrey);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px var(--colorBlue) solid;
  color: var(--colorBlue);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.footer {
  color: var(--colorWhite);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--backgroundColorSecond);
  padding: 60px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -ms-flex-preferred-size: none;
        flex-basis: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}
.footer .logo--footer {
  color: var(--colorWhite);
  margin-top: auto;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--colorWhite);
  padding-top: 24px;
}
.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__link {
  text-decoration: none;
  color: var(--fontColorSecond);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus, .footer__link:hover {
  color: var(--colorBlue);
}
.footer__heading {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorWhite);
}
.footer__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__item {
  color: var(--colorWhite);
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-transparent-dark);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover, .footer__item:focus {
  background-color: var(--colorBlue);
}
.footer__icon {
  width: 20px;
  height: 20px;
}

.newsletter__page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.newsletter__heading {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorWhite);
}

@media screen and (min-width: 1200px) {
  .newsletter__heading {
    text-align: left;
  }
}
.newsletter__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .newsletter__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.newsletter__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .newsletter__label {
    width: auto;
  }
}
.newsletter__email {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
  padding-inline: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.newsletter__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.newsletter__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.newsletter__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.newsletter__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.newsletter__email:focus {
  border-color: var(--colorBlue);
}

@media screen and (min-width: 768px) {
  .newsletter__email {
    width: 450px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__email {
    width: 358px;
  }
}
.newsletter__button {
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  line-height: 1.875;
  letter-spacing: 0.05em;
  padding: 10px 28px 10px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--colorWhite);
  background-color: var(--colorBlue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__button:hover, .newsletter__button:focus {
  cursor: pointer;
  background-color: #12558a;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin: 0px auto 40px;
}

@media screen and (min-width: 768px) {
  .gallery__buttons {
    margin: 0px auto 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__buttons {
    margin: 0px auto 50px;
  }
}
.button__link {
  background-color: var(--colorDarkWhite);
  color: var(--fontColorFirst);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-style: hidden;
  border-radius: 4px;
  padding: 6px 23px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__link:hover, .button__link:focus {
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.gallery__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.gallery__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 450px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item:hover, .gallery__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__item:hover .gallery__description, .gallery__item:hover .gallery__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    max-width: none;
  }
  .gallery__item:first-child .gallery__caption {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .gallery__item:first-child .gallery__caption {
    padding-bottom: 20px;
  }
}
.gallery__thumb {
  width: 100%;
  background-color: red;
}

.gallery__photo {
  width: 100%;
}

.gallery__link {
  display: block;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  width: 100%;
  color: var(--fontColorFirst);
}

.gallery__relative {
  position: relative;
  overflow: hidden;
}

.gallery__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-right: 45px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--colorWhite);
  background-color: var(--background-gallery-blue);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.gallery__caption {
  width: 100%;
  padding: 20px 24px;
  border-left: 1px solid var(--caption);
  border-right: 1px solid var(--caption);
  border-bottom: 1px solid var(--caption);
}

.gallery__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--fontColorFirst);
  display: block;
  margin-bottom: 4px;
}

.gallery__signature {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--fontColorSecond);
  display: block;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--color-transparent-modal2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
  transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
}

.modal {
  position: absolute;
  width: 90%;
  max-height: 609px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--colorWhite);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 521px;
    height: 580px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  position: absolute;
  border: 1px solid var(--color-transparent-modal1);
  background: var(--colorWhite);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--colorBlack);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  cursor: pointer;
  border-color: var(--colorBlue);
  color: var(--colorBlue);
  fill: var(--colorBlue);
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.form__label {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--colorGrey);
}
.form__textarea {
  outline: none;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
  border-color: var(--colorBlue);
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__input {
  color: var(--colorBlack);
  outline: none;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--colorBlue);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--colorBlue);
}
.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 29px;
  fill: var(--colorBlack);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-service__check {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.714;
  margin-top: 10px;
  text-align: left;
  color: var(--colorGrey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}
.form-service__check:hover, .form-service__check:focus {
  cursor: pointer;
}

.form-service__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-service__checkbox:checked + .form-service__square {
  border-color: var(--colorBlue);
  background-color: var(--colorBlue);
  color: var(--colorWhite);
}

.form-service__square {
  width: 16px;
  height: 15px;
  border: 2px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  border-radius: 2px;
}

.form-service__checkin {
  width: 11px;
  height: 8px;
  fill: currentColor;
}
.form-service__checkin:hover, .form-service__checkin:focus {
  cursor: pointer;
}

.form-service__span {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .form-service__span {
    font-size: 14px;
  }
}

.form-service__check-link {
  color: var(--colorBlue);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-service__check-link:hover, .form-service__check-link:focus {
  color: #12558a;
}

.form-service__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 76px;
  margin: 30px auto;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: var(--colorWhite);
  background: var(--colorBlue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-service__button:hover, .form-service__button:focus {
  cursor: pointer;
  background-color: var(--colorBlue);
}

.menu__toggle {
  color: var(--fontColorFirst);
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__toggle:hover, .menu__toggle:focus {
  color: var(--colorBlue);
}

@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__icon {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu__toggle:hover,
.menu__toggle:focus {
  color: var(--colorBlue);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - (100vh - 100%));
  padding: 32px;
  background-color: var(--colorWhite);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__close-button {
  position: absolute;
  top: 21px;
  right: 25px;
  color: var(--fontColorFirst);
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__close-button:hover, .menu__close-button:focus {
  color: var(--colorBlue);
}

.menu__close-icon {
  width: 19px;
  height: 19px;
  fill: currentColor;
}

.menu__navigation-item:not(:last-child) {
  margin-bottom: 36px;
}
.menu__navigation-link {
  color: var(--fontColorFirst);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02;
}
.menu__navigation-link:hover {
  color: var(--colorBlue);
}
.menu__navigation-link--current {
  color: var(--colorBlue);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02;
}
.menu__contact-list {
  margin-bottom: 64px;
}
.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__contact-link {
  color: var(--fontColorSecond);
  font-size: 24px;
  font-weight: 500;
}
.menu__contact-link--accent {
  color: var(--colorBlue);
  font-size: 34px;
  font-weight: 500;
}
.menu__contact-link:hover, .menu__contact-link:focus {
  color: var(--colorBlue);
}
.menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__social-item:not(:last-child) {
  border-right: 2px var(--contact-link-separator) solid;
  padding-right: 10px;
}
.menu__social-item:not(:first-child) {
  padding-left: 10px;
}
.menu__social-link {
  color: var(--colorBlue);
  font-size: 18px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */