.menu__toggle {
    color: var(--fontColorFirst);
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--colorBlue);
        }
}

@media screen and (min-width:768px) {
    .menu__toggle {
        display: none;
    }
}

.menu__icon{
    width: 24px;
    height: 16px;
    fill: currentColor;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu__toggle:hover,
.menu__toggle:focus {
    color: var(--colorBlue);
}

.menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--colorWhite);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu__container.is-open {
    transform: translateX(0);
}

.menu__close-button {
    position: absolute;
    top:21px;
    right: 25px;
    color: var(--fontColorFirst);
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--colorBlue);
    }
}

.menu__close-icon{
    width: 19px;
    height: 19px;
    fill: currentColor;
}



.menu{
    
    &__navigation-item:not(:last-child) {
            margin-bottom: 36px;
        }
    
        &__navigation-link {
            color: var(--fontColorFirst);
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 0.02;
         
    
            &:hover {
                color: var(--colorBlue);
            }
        }
    
        &__contact-list {
            margin-bottom: 64px;
        }
    
        &__contact-item:not(:last-child) {
            margin-bottom: 32px;
        }
    
        &__contact-link {
            color: var(--fontColorSecond);
            font-size: 24px;
            font-weight: 500;
    
            &--accent {
                color: var(--colorBlue);
                font-size: 34px;
                font-weight: 500;
            }

            &:hover,
            &:focus{
                color: var(--colorBlue);
            }
        }
    
        &__social-list {
            display: flex;
            flex-direction: row;
        }
    
        &__social-item:not(:last-child) {
            border-right: 2px var(--contact-link-separator) solid;
            padding-right: 10px;
        }
    
        &__social-item:not(:first-child) {
            padding-left: 10px;
        }
    
        &__social-link {
            color: var(--colorBlue);
            font-size: 18px;
            font-weight: 500;
        }
}