:root {
    --backgroundColorFirst: #e5e5e5;
    --backgroundColorSecond: #2f303a;
    --fontColorFirst: #212121;
    --fontColorSecond: #757575;
    --button: #00000026;
    --colorBlue: #2196f3;
    --colorShadow: #ffffff99;
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorDarkWhite: #f5f4fa;
    --caption: #eeeeee;
    --headerBorderColor: #ececec;
    --colorGrey: #AFB1B8;
    --color-transparent: rgba(255, 255, 255, 0.6);
    --color-transparent-dark: rgba(255, 255, 255, 0.1);
    --color-transparent-what-we-do: rgba(47, 48, 58, 0.8);
    --color-transparent-modal1: rgba(0, 0, 0, 0.1);
    --color-transparent-modal2: rgba(0, 0, 0, 0.2);
    --background-gallery-blue: rgba(33, 150, 243, 0.9);
}