.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  &__list {
    display: none;
    margin-left: 93px;
  }

  @media screen and (min-width:768px) {
    &__list {
      display: flex;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--fontColorFirst);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--colorBlue);
      outline-color: var(--colorBlue);
    }

    &--current {
      color: var(--colorBlue);
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--colorBlue);
        top: 46px;
        left: 0;
      }
    }
  }
}
